@font-face {
    font-family: lychee;
    src: url("../Font/Fresh\ Lychee.ttf");
}

@font-face{
    font-family: corp;
    src: url("../Font/Corp-Light.otf");
}

/*
 /$$   /$$                           /$$                    
| $$  | $$                          | $$                    
| $$  | $$  /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$$$$$$$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$__  $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
*/

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input{
    height: 15px;
    align-items: center;
    
}

header img {
    width: 50px;
}

header > div{
    display: flex;
    align-items: center;
}

img#loupe{
    width: 20px;
}

img#loupe:hover{
    cursor: pointer;
}

header >div img:last-child{
    width: 50px;
}

/*
 /$$$$$$$                  /$$          
| $$__  $$                | $$          
| $$  \ $$  /$$$$$$   /$$$$$$$ /$$   /$$
| $$$$$$$  /$$__  $$ /$$__  $$| $$  | $$
| $$__  $$| $$  \ $$| $$  | $$| $$  | $$
| $$  \ $$| $$  | $$| $$  | $$| $$  | $$
| $$$$$$$/|  $$$$$$/|  $$$$$$$|  $$$$$$$
|_______/  \______/  \_______/ \____  $$
                               /$$  | $$
                              |  $$$$$$/
                               \______/ 
*/

body{
    padding: 0;
    margin: 0;
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #b92b27, #1565C0);
    background: linear-gradient(to right, #b92b27, #1565C0);
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    position: relative;
    padding-bottom: 16px;
    box-sizing: border-box;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    color: #ffffff;
    margin-bottom:20rem;
}


.cell {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 5vh;
}

.cell img {

    height: clamp(100px, 20vw, 500px);
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 60px 1px rgba(0,0,0,0.3);
    animation: sizeIn 0.8s ease-in-out;
}

.cell p {

    animation: slideIn 1s ease-in-out;
    margin-left: 3rem;
    font-size: clamp(0.6rem, 3vw, 1.3rem);
    color: rgb(194, 194, 194);
}

.panier{
    text-align: center;
    font-size: clamp(0.8rem, 1vw, 3rem);
    color: whitesmoke;
    padding: 0.8rem;
    background-color: rgb(55, 149, 55);
    width: 20%;
    border-radius: 20px;
    box-shadow: 0 0 50px 2px rgba(0,0,0,0.3);
    margin-top: 1vh;
}

span{
    font-size:2vw;
    color:rgb(17, 87, 17);
}

/*
 /$$$$$$                      /$$                        
/$$__  $$                    | $$                        
| $$  \__//$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$ 
| $$$$   /$$__  $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$
| $$_/  | $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \__/
| $$    | $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$      
| $$    |  $$$$$$/|  $$$$$$/  |  $$$$/|  $$$$$$$| $$      
|__/     \______/  \______/    \___/   \_______/|__/ 
*/

footer {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    font-size:2.4vh;
    background-color:rgb(19, 19, 31);
    color:white;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}

a{
    text-decoration: none;
    color:white;
}