@font-face {
    font-family: Manga-style;
    src: url("../Font/Manga\ Style.ttf");
}

/*
 /$$   /$$                           /$$                    
| $$  | $$                          | $$                    
| $$  | $$  /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$$$$$$$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$__  $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
*/

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input{
    height: 15px;
    align-items: center;
    
}

header img {
    width: 50px;
}

header > div{
    display: flex;
    align-items: center;
}

img#loupe{
    width: 20px;
}

img#loupe:hover{
    cursor: pointer;
}

header >div img:last-child{
    width: 50px;
}

/*
 /$$$$$$$                  /$$          
| $$__  $$                | $$          
| $$  \ $$  /$$$$$$   /$$$$$$$ /$$   /$$
| $$$$$$$  /$$__  $$ /$$__  $$| $$  | $$
| $$__  $$| $$  \ $$| $$  | $$| $$  | $$
| $$  \ $$| $$  | $$| $$  | $$| $$  | $$
| $$$$$$$/|  $$$$$$/|  $$$$$$$|  $$$$$$$
|_______/  \______/  \_______/ \____  $$
                               /$$  | $$
                              |  $$$$$$/
                               \______/ 
*/

body{
    padding: 0;
    margin: 0;
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #b92b27, #1565C0);
    background: linear-gradient(to right, #b92b27, #1565C0);
    font-family: 'Segoe UI', sans-serif;
}

/*
 /$$      /$$           /$$          
| $$$    /$$$          |__/          
| $$$$  /$$$$  /$$$$$$  /$$ /$$$$$$$ 
| $$ $$/$$ $$ |____  $$| $$| $$__  $$
| $$  $$$| $$  /$$$$$$$| $$| $$  \ $$
| $$\  $ | $$ /$$__  $$| $$| $$  | $$
| $$ \/  | $$|  $$$$$$$| $$| $$  | $$
|__/     |__/ \_______/|__/|__/  |__/
*/

main {
    overflow-x: hidden;
}

main > div#title {
    font-size:8vw;
    min-height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Manga-style;
}

main > div#title >div:hover{
    transform: scale(1.05);
}

main > div#title >div{
    transition: transform .2s linear;
    text-transform: uppercase;
}

/*
 /$$$$$$                        /$$     /$$                    
/$$__  $$                      | $$    |__/                    
| $$  \__/  /$$$$$$   /$$$$$$$ /$$$$$$   /$$  /$$$$$$  /$$$$$$$ 
|  $$$$$$  /$$__  $$ /$$_____/|_  $$_/  | $$ /$$__  $$| $$__  $$
\____  $$| $$$$$$$$| $$        | $$    | $$| $$  \ $$| $$  \ $$
/$$  \ $$| $$_____/| $$        | $$ /$$| $$| $$  | $$| $$  | $$
|  $$$$$$/|  $$$$$$$|  $$$$$$$  |  $$$$/| $$|  $$$$$$/| $$  | $$
\______/  \_______/ \_______/   \___/  |__/ \______/ |__/  |__/
*/

section#promo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}

section#promo > div.card {
    width: 300px;
    margin: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 15px 0 rgba(0,0,0,0.12);
    transition: transform .2s ease-in-out;
}

section#promo > div.card:hover {
    transform: scale(1.1);
}

section#promo > div.card > div.img {
    width: 100%;
    height: 375px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section#promo > div.card > div.content { 
    box-sizing: border-box;
    padding: 8px;
    height: 64px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-size: 14px;
}

section#promo > div.card > div.price { 
    padding: 4px;
    text-align: right;
    font-size: 120%;
    margin-top: 1em;
}

section#promo > div.card > div.price > span { 
    color: #f00;
    text-decoration: line-through;
}

/*
 /$$$$$$                      /$$                        
/$$__  $$                    | $$                        
| $$  \__//$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$ 
| $$$$   /$$__  $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$
| $$_/  | $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \__/
| $$    | $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$      
| $$    |  $$$$$$/|  $$$$$$/  |  $$$$/|  $$$$$$$| $$      
|__/     \______/  \______/    \___/   \_______/|__/ 
*/

footer {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    font-size:2.4vh;
    background-color:rgb(19, 19, 31);
    color:white;
}